input.van-field__control {
    padding-left: 0.1rem;
}

.add-clearable {
    input.van-field__control {
        padding-right: 0.2rem;
    }
}

.van-loading__text, .van-popup__close-icon, .van-picker__title {
    font-size: 0.14rem !important;
}

.van-button--small {
    font-size: 0.12rem !important;
}

.van-button--mini {
    font-size: 0.1rem !important;
    min-width: 0.4rem !important;
}

.van-popup__close-icon {
    font-size: 0.14rem !important;
}

.van-col.operation {
    padding-left: 0.1rem !important;
}

.van-nav-bar {
    height: 0.46rem !important;
}

.van-cell {
    font-size: 0.14rem !important;
    line-height: 0.24rem !important;
}

.van-search .van-cell {
    padding: 0.05rem 0.08rem 0.05rem 0 !important;
}